@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');                  /* Navbar-section-start */
#navlink-cutom-color1{
      color: #323f4b;   
      font-family: "roboto";
      font-weight: bold;
}
#navlink-cutom-color2{
      color: #323f4b;   
      font-family: "roboto";
      font-weight: bold;
}
#navlink-cutom-color3{
      color: #323f4b;   
      font-family: "roboto";
      font-weight: bold;
}
#navlink-cutom-color4{
      color: #323f4b;   
      font-family: "roboto";
      font-weight: bold;
}
.image-logo{
      height: 60px;
      width: 80px;
}
                  /* Navbar-section-end */

                  /* Banner-Section-Start */
.banner-section{
      background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
      height: 100vh;
      background-size: cover;
}
.banner-section-heading{
      color: #ffffff;
      font-size: 38px;
}
.banner-section-description{
      color: #ffffff;
      font-size: 20px;
}
.view-button{
      width: 144px;
      height: 43px;
      border-width: 0px;
      border-radius: 10px;
      font-size: 15px;
      background-color: #d0b200;
      color: #ffffff;
      margin-right: 15px;
      
}
.view-button-outline{
      width: 144px;
      height: 43px;
      border-width: 1px;
      border-radius: 10px;
      color: #ffffff;
      background-color: transparent;
      border-color: #ffffff;
}
                               /*BANNER SECTION END  */

                               /* Why Choose Us Section Strat */
.wcu-section{
      background-color:#f9fbfe ;
}                               
.wcu-section-heading{
      font-family: "roboto";
      font-size: 35px;
      font-weight: bold;
      color: black;
}
.wcu-section-description{
      font-family: "roboto";
      font-size: 20px;
      color: #5e6b6a;
}  
.best-offer{
      font-weight: bold;
      font-style: italic;
}   
.wcu-card-session{
      text-align: center;
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px;
      border-color: beige;
      border-radius: 15px;
}
.wcu-food-image{
      height: 90px;
      width: 80px;
}
.wcu-card-heading{
      color: rgb(78, 73, 73);
      font-family:"roboto";
      font-size: 25px;
      font-weight: 600;
}
.wcu-card-description{
      color:rgb(117, 111, 111) ;
}
                                    /* EXPLORE MENU SECTION  START */

.Explore-Menu-section{
      background-color: white;
}
.menu-section-heading{
      color: #183b56;
      font-size: 35px;
      font-weight: 700;
      font-family: "roboto";
}
.Menu-card-item{
      border-radius: 15px;     
}
.menu-image-iteam{
      border-radius: 16px;
}
.card-heading-title{
      color: #323f4b;
      font-size: 25px;
      font-family: "roboto";
      font-weight: 500;
      padding-top: 25px;
}
.menu-item-link{
      color:#d0b200;
      font-size: 18px;
      font-weight: 500;
      font-family: "roboto";
}
                                    /* EXPLORE MENU SECTION END  */
                                    /* FRESH HEALTHY ORGANIC SECTION START */
.food-healthy-section{

}                                    
.heading-title{
      font-weight: bold;
      font-family: "roboto";
      font-style: normal;
      color: black;

} 
.paragraph-title{
      color: rgb(155, 163, 163);
      font-family: "roboto";
      font-size: 18px;
} 
.button-element{
      background-color: #d0b200;
      border-width: 0px;
      border-radius: 12px;
      color: #ffffff;
      padding: 10px 20px;

}   
                     /*Delivery and Payment Section Start*/
                   
.image-iteam{
    height: 50px;
    width: 50px;
    margin-right: 28px;  
}
.heading-title{
    color: #2975af;
    font-size: 28px;
    font-family: "roboto";
}
.paragraph-description{
    color: #9da0a0;  
}

                              /* Delivery Payment section end */
                              /* Thank You Customer Section  */
.thank-you-customer-section{
      background-image:radial-gradient(#fff8db, #fae38c);
}
.heading-name{
      color: black;
      font-size: 30px;
      font-weight: bold;
}
.paragraph-description{
      font-size: 20px;
}
                              /*Delivery Payment Section End  */
.follow-heading-title{
      color: black;
      font-weight: bold;
      text-align: center;
}                    
.icon-item{
      height: 80px;
      width: 80px;
      background-color: #ebe5c5;
      color: #d0b200;
      padding-left:25px;
      padding-top: 25px;
      font-size:30px;
      border-radius: 45px;   
}
.footer-section{
      background-color: #183b56;
}
.food-munch-heading{
      color: #9da0a0;
      font-size: 25px;
}
.food-munch-paragraph{
      color: #9da0a0;
}
#wcu-section-id, #explore-menu-id,#delivery-payment-id{
      padding: 75px!important;
}